<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-4">
            <span class="h2">BIENVENIDOS</span>
        </div>
        <div class="col-12">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Introducción</h2>
            </div>
        </div>
        <div class="col-12 d-flex justify-content-center my-3">
            <video src="./../../../assets/VID/CREANI Introducción.mp4" controls></video>
        </div>
    </div>
    
</div>


