<div class="container-fluid">
    <div class="row">
        <div class="col-12 d-flex justify-content-center mt-4">
            <span class="h2">AYUDA</span>
        </div>
        <div class="col-6">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Propósito de la Página</h2>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <audio src="./../../../assets/AUD/Proposito de la Pagina.m4a" controls></audio>
            </div>
        </div>
        <div class="col-6">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Descripción del la Página</h2>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <audio src="./../../../assets/AUD/Descripcion de la Pagina.m4a" controls></audio>
            </div>
        </div>
        <div class="col-12 mt-4">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Recomendaciones</h2>
            </div>
            <div class="mt-3 d-flex justify-content-center">
                <audio src="./../../../assets/AUD/Recomendaciones.m4a" controls></audio>
            </div>
        </div>
        <div class="col-12">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Apoyos Extra</h2>
            </div>
        </div>
        <div class="col-12 my-2 d-flex justify-content-center">
            <div class="container-fluid">
                <div id="carouselExampleIndicators" class="carousel carousel-dark carousel-fade" data-bs-ride="carousel">
                    <div class="carousel-indicators">
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="3000">
                            <a href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2F_%23%2Fl%2Fchannel%2F19%3Acca218593859422bb5f8d073c8e1e061%40thread.tacv2%2FGeneral%3FgroupId%3D4ba4af10-3e09-4e43-9c26-2d70b008dddc%26tenantId%3Da9e17f9e-90be-41d0-84eb-6a48ebe9fec0&type=channel&deeplinkId=260b8530-8ebf-4a05-b0fb-a26356fcf39b&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true" target="_blank">
                                <img src="./../../../assets/IMG/AsesoriasTeams.png" class="img-fluid d-block w-100" alt="">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <a href="https://fi.uaemex.mx/SiCAFI/Student/" target="_blank">
                                <img src="./../../../assets/IMG/SiCAFI.jpg" class="img-fluid d-block w-100" alt="">
                            </a>
                        </div>
                        <div class="carousel-item" data-bs-interval="3000">
                            <a href="https://fi.uaemex.mx/portal/docs/avisos/avisos_2020-B/Pago_de_servicios_escolares_UAEM.pdf" target="_blank">
                                <img src="./../../../assets/IMG/pagos_servicioes_linea.png" class="img-fluid d-block w-100" alt="">
                            </a>
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
            
            
        </div>
    </div>
    
</div>
