<section>
    <app-definicion-recta *ngIf="compruebaTema(0)"></app-definicion-recta>
    <app-segmento-recta *ngIf="compruebaTema(1)"></app-segmento-recta>
    <app-distancia-dos-puntos *ngIf="compruebaTema(2)"></app-distancia-dos-puntos>
    <app-punto-medio-segmento *ngIf="compruebaTema(3)"></app-punto-medio-segmento>
    <app-punto-segmento-razon *ngIf="compruebaTema(4)"></app-punto-segmento-razon>
    <app-pendiente *ngIf="compruebaTema(5)"></app-pendiente>
    <app-ecuacion-recta *ngIf="compruebaTema(6)"></app-ecuacion-recta>
    <app-interseccion-rectas *ngIf="compruebaTema(7)"></app-interseccion-rectas>
    <app-distancia-dos-puntos *ngIf="compruebaTema(8)"></app-distancia-dos-puntos>
    <app-definicion-circunferencia *ngIf="compruebaTema(9)"></app-definicion-circunferencia>
    <app-ejercicios-circunferencia *ngIf="compruebaTema(10)"></app-ejercicios-circunferencia>
    <app-definicion-parabola *ngIf="compruebaTema(11)"></app-definicion-parabola>
    <app-ejercicios-parabola *ngIf="compruebaTema(12)"></app-ejercicios-parabola>
    <app-definicion-elipse *ngIf="compruebaTema(13)"></app-definicion-elipse>
    <app-ejercicios-elipse *ngIf="compruebaTema(14)"></app-ejercicios-elipse>
    <app-definicion-hiperbola *ngIf="compruebaTema(15)"></app-definicion-hiperbola>
    <app-ejercicios-hiperbola *ngIf="compruebaTema(16)"></app-ejercicios-hiperbola>
    <app-referencias-geometria *ngIf="compruebaTema(17)"></app-referencias-geometria>
</section>

