<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Solución de Ecuaciones Trigonométricas</h2>
            </div>
        </div>
        <div class="col-12">
            <video src="./../../../../assets/VID/Te Enseño cómo RESOLVER Ecuaciones TRIGONOMÉTRICAS paso a paso  1º bachillerato_480p.mp4" controls style="height: 600px; width: 100%;"></video>
        </div>
    </div>
    
</div>
