<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Solución de Sistemas de Ecuaciones de 3x3 por Reducción</h2>
            </div>
        </div>
        <div class="col-12">
            <video src="./../../../../assets/VID/Resolver un sistema de ecuaciones 3x3 con sumas y restas _ Ejercicio 1.mp4" controls style="height: 600px; width: 100%;"></video>
        </div>
    </div>
    
</div>
