<section>
    <app-suma-resta-operaciones-enteros *ngIf="compruebaTema(0)"></app-suma-resta-operaciones-enteros>
    <app-multiplicacion-operaciones-enteros *ngIf="compruebaTema(1)"></app-multiplicacion-operaciones-enteros>
    <app-potencia-operaciones-enteros *ngIf="compruebaTema(2)"></app-potencia-operaciones-enteros>
    <app-division-operaciones-enteros *ngIf="compruebaTema(3)"></app-division-operaciones-enteros>
    <app-suma-resta-operaciones-fraccionarios *ngIf="compruebaTema(4)"></app-suma-resta-operaciones-fraccionarios>
    <app-multiplicacion-operaciones-fraccionarios *ngIf="compruebaTema(5)"></app-multiplicacion-operaciones-fraccionarios>
    <app-division-operaciones-fraccionarios *ngIf="compruebaTema(6)"></app-division-operaciones-fraccionarios>
    <app-propiedades-exponentes *ngIf="compruebaTema(7)"></app-propiedades-exponentes>
    <app-propiedades-logaritmos *ngIf="compruebaTema(8)"></app-propiedades-logaritmos>
    <app-suma-resta-polinomios *ngIf="compruebaTema(9)"></app-suma-resta-polinomios>
    <app-multiplicacion-polinomios *ngIf="compruebaTema(10)"></app-multiplicacion-polinomios>
    <app-division-polinomios *ngIf="compruebaTema(11)"></app-division-polinomios>
    <app-binomio-cuadrado *ngIf="compruebaTema(12)"></app-binomio-cuadrado>
    <app-producto-suma-diferencia *ngIf="compruebaTema(13)"></app-producto-suma-diferencia>
    <app-cubo-binomio *ngIf="compruebaTema(14)"></app-cubo-binomio>
    <app-trinomio-cuadrado *ngIf="compruebaTema(15)"></app-trinomio-cuadrado>
    <app-triangulo-pascal *ngIf="compruebaTema(16)"></app-triangulo-pascal>
    <app-generalidades-factorizacion *ngIf="compruebaTema(17)"></app-generalidades-factorizacion>
    <app-factor-comun *ngIf="compruebaTema(18)"></app-factor-comun>
    <app-factor-comun-agrupado *ngIf="compruebaTema(19)"></app-factor-comun-agrupado>
    <app-trinomio-perfecto *ngIf="compruebaTema(20)"></app-trinomio-perfecto>
    <app-diferencia-cuadrados *ngIf="compruebaTema(21)"></app-diferencia-cuadrados>
    <app-trinomio-perfecto-adicion-sustraccion *ngIf="compruebaTema(22)"></app-trinomio-perfecto-adicion-sustraccion>
    <app-trinomio-estandar-x2 *ngIf="compruebaTema(23)"></app-trinomio-estandar-x2>
    <app-trinomio-estandar-ax2 *ngIf="compruebaTema(24)"></app-trinomio-estandar-ax2>
    <app-cubo-perfecto-binomio *ngIf="compruebaTema(25)"></app-cubo-perfecto-binomio>
    <app-diferencia-cubos *ngIf="compruebaTema(26)"></app-diferencia-cubos>
    <app-diferencia-potencias-iguales *ngIf="compruebaTema(27)"></app-diferencia-potencias-iguales>
    <app-racionalizacion-denominador-comun *ngIf="compruebaTema(28)"></app-racionalizacion-denominador-comun>
    <app-racionalizacion-denominador-binomio *ngIf="compruebaTema(29)"></app-racionalizacion-denominador-binomio>
    <app-simplificacion-expresiones-algebraicas *ngIf="compruebaTema(30)"></app-simplificacion-expresiones-algebraicas>
    <app-ecuaciones-lineales *ngIf="compruebaTema(31)"></app-ecuaciones-lineales>
    <app-ecuaciones-cuadraticas *ngIf="compruebaTema(32)"></app-ecuaciones-cuadraticas>
    <app-sistemas-ecuaciones-bi-igualacion *ngIf="compruebaTema(33)"></app-sistemas-ecuaciones-bi-igualacion>
    <app-sistemas-ecuaciones-bi-sustitucion *ngIf="compruebaTema(34)"></app-sistemas-ecuaciones-bi-sustitucion>
    <app-sistemas-ecuaciones-bi-reduccion *ngIf="compruebaTema(35)"></app-sistemas-ecuaciones-bi-reduccion>
    <app-sistemas-ecuaciones-bi-determinantes *ngIf="compruebaTema(36)"></app-sistemas-ecuaciones-bi-determinantes>
    <app-sistemas-ecuaciones-tri-sustitucion *ngIf="compruebaTema(37)"></app-sistemas-ecuaciones-tri-sustitucion>
    <app-sistemas-ecuaciones-tri-reduccion *ngIf="compruebaTema(38)"></app-sistemas-ecuaciones-tri-reduccion>
    <app-sistemas-ecuaciones-tri-determinantes *ngIf="compruebaTema(39)"></app-sistemas-ecuaciones-tri-determinantes>
    <app-propiedades-desigualdades *ngIf="compruebaTema(40)"></app-propiedades-desigualdades>
    <app-inecuacion *ngIf="compruebaTema(41)"></app-inecuacion>
    <app-referencias-algebra *ngIf="compruebaTema(42)"></app-referencias-algebra>
</section>
<div>
    
</div>