<section>
    <app-generalidades *ngIf="compruebaTema(0)"></app-generalidades>
    <app-clasificacion-angulos *ngIf="compruebaTema(1)"></app-clasificacion-angulos>
    <app-rectas-cortadas-secante *ngIf="compruebaTema(2)"></app-rectas-cortadas-secante>
    <app-rectas-paralelas-secante *ngIf="compruebaTema(3)"></app-rectas-paralelas-secante>
    <app-clasificacion-triangulos *ngIf="compruebaTema(4)"></app-clasificacion-triangulos>
    <app-razones-trigonometricas *ngIf="compruebaTema(5)"></app-razones-trigonometricas>
    <app-teorema-pritagoras *ngIf="compruebaTema(6)"></app-teorema-pritagoras>
    <app-triangulos-rectangulos-ejemplos *ngIf="compruebaTema(7)"></app-triangulos-rectangulos-ejemplos>
    <app-leyes-senos-cosenos *ngIf="compruebaTema(8)"></app-leyes-senos-cosenos>
    <app-triangulos-oblicuangulos-ejemplos *ngIf="compruebaTema(9)"></app-triangulos-oblicuangulos-ejemplos>
    <app-identidades-trigonometricas *ngIf="compruebaTema(10)"></app-identidades-trigonometricas>
    <app-expresiones-trigonometricas *ngIf="compruebaTema(11)"></app-expresiones-trigonometricas>
    <app-ecuacinoes-trignometricas *ngIf="compruebaTema(12)"></app-ecuacinoes-trignometricas>
    <app-referencias-trigonometria *ngIf="compruebaTema(13)"></app-referencias-trigonometria>
</section>