
<div class="container-fluid">
    <div class="row">
        <div class="col-3 px-0 bg-success">
            <nav class="nav navbar-nav-scroll flex-colum" style="--bs-scroll-height: 800px;">
                
                <div id="temas" *ngFor="let temaA of temasAlgebra; let indice1 = index" >
                    <ng-template [ngIf]="temaA.subtemas.length == 0" [ngIfThen]="temaContenido" [ngIfElse]="temaSubtemas"></ng-template>
                    <ng-template #temaContenido>
                        <div class="bg-secondary">
                            <a class="nav-link col-12 border-bottom border-info" [routerLink]="['/algebra/'+temaA.tema]">{{temaA.tema}}</a>
                        </div>
                    </ng-template>
                    <ng-template #temaSubtemas>
                        <a class="nav-link col-12 border-bottom border-info bg-light text-dark" data-bs-toggle="collapse" role="button" aria-expanded="false" href="#subtemas_N1_{{indice1}}">
                            {{temaA.tema}}
                            <button class="btn-close"></button>
                        </a>
                        <ng-template [ngIf]="temaA.tag == 'T1'" [ngIfThen]="muestraSubtemas" [ngIfElse]="temasNivel2"></ng-template>
                        <ng-template #muestraSubtemas>
                            <div class="collapse border-bottom border-info bg-secondary" id="subtemas_N1_{{indice1}}" *ngFor="let subtemasA of temaA.subtemas" >
                                <a class="nav-link col-12 ps-5" [routerLink]="['/algebra/'+subtemasA]">{{subtemasA}}</a>
                            </div>
                        </ng-template>
                        <ng-template #temasNivel2>
                            <div class="collapse bg-secondary" id="subtemas_N1_{{indice1}}" *ngFor="let temaA_N2 of temaA.subtemas; let indice2 = index">
                                <ng-template [ngIf]="temaA_N2.subtemas.length == 0" [ngIfThen]="temaContenido_N2" [ngIfElse]="muestraSubtemas_N2"></ng-template>
                                <ng-template #temaContenido_N2>
                                        <a class="nav-link col-12 border-bottom border-info ps-5" [routerLink]="['/algebra/'+temaA_N2.tema]">{{temaA_N2.tema}}</a>
                                </ng-template>
                                <ng-template #muestraSubtemas_N2>
                                    <a class="nav-link col-12 border-bottom border-info bg-light text-dark ps-5" data-bs-toggle="collapse" role="button" aria-expanded="false" href="#subtemas_N2_{{indice2}}">
                                        {{temaA_N2.tema}}
                                        <button class="btn-close"></button>
                                    </a>
                                    <div class="collapse border-bottom border-info" id="subtemas_N2_{{indice2}}" *ngFor="let subtemasA_N2 of temaA_N2.subtemas">
                                        <a class="nav-link col-12 ps-5" [routerLink]="['/algebra/'+subtemasA_N2]"><div class="ps-4">{{subtemasA_N2}}</div></a>
                                    </div>
                                </ng-template>
                            </div>
                        </ng-template>
                    </ng-template>
                </div>
            </nav>
        </div>  
        <div class="col-9">
            <router-outlet></router-outlet>
        </div>  
    </div>
    
</div>