<div class="container-fluid">
    <div class="row">
        <div class="col-12 my-5">
            <div class="mx-2 border-bottom border-danger border-5 rounded-bottom">
                <h2 class="text-danger">Triángulo de Pascal</h2>
            </div>
        </div>
        <div class="col-12">
            <video src="./../../../../assets/VID/Binomio de newton _ Triángulo de Pascal _ Potencias de un binomio.mp4" controls style="height: 600px; width: 100%;"></video>
        </div>
    </div>
    
</div>
